@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");


*{
    font-family: 'Poppins',sans-serif;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    transition: all .2s linear;
    text-transform: capitalize;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background: rgba(255, 255, 255, 0.8);
}

.button{
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    font-size: 17px;
    line-height: 1.1764805882;
    font-weight: 400;
    letter-spacing: -0.022em;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    min-width: 28px;
    padding: 8px 16px;
    border-radius: 980px;
    background: #0071e3;
    color: #fff;
}

section{
    padding: 1rem 1% 0 1%;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    margin: 0 auto;
    padding: 0 22px;
    z-index: 2;
}

#menu-btn{
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
}

.header .icons-sd{
    font-size: 1.5rem;
    color: #fff;
    padding: 1rem 0;
}

.header .icons-sd{
    padding-left: 4rem;
}

.header .logo{
    font-size: 1.8rem;
    color: #cecece;
    padding-right: 2.3rem;
}

.header .navbar a:hover,
.header .logo:hover{
    color: #fff;
    transition: none;
}


#menu-btn{
    display: none;
}

.header .navbar a{
    text-transform: none;
    margin: 0 2.2rem;
    font-size: 1.1rem;
    color: #cecece;
}

.home{
    padding-top: 9rem;
    background: #fbfbfd;
}

.home .box-container{
    align-items: center;
    text-align: center;
}

.home .box-container .content h2{
    font-size: 5.4rem;
    line-height: 1;
    font-weight:bold;
    font-weight: 500;
    text-transform: none;
    color: #333;
    padding-top: 3rem;
}

.home .box-container .content span{
    font-size: 2.7rem;
    font-weight: 400;
    margin-top: .6rem;
    color: #333;
}

.home .box-container .content .link{
    margin: 1.5rem 0 1.4rem 0;
}

.home .box-container .content .link .p-first,
.home .box-container .content .link .p-second{
    font-size: 1.9rem;
    color: #06c;
    text-transform: none;
}

.home .box-container .content .link .p-first:hover,
.home .box-container .content .link .p-second:hover{
    text-decoration: underline;
}

.home .box-container .content .link .p-second{
    margin-left: 4rem;
}

.home .box-container .content .link i{
    color: #2997ff;
    font-size: 1.4rem;
    padding-left: .3rem;
}

.home .image{
    min-height: 60vh;
    width: 57rem;
    background-size: cover !important;
    background-position:top ;
    align-items: center;
    margin: auto;
}

.home2{
    background: #35283c;
    align-items: center;
    text-align: center;
}

.home2 .box-container {
    background: url(../images/about-1.jpg);
    text-align: center;
    background-size: cover;
    background-position: center;
    min-height: 88vh;
}

.home2 .box-container img{
    width: 80rem;
}

.home2 .box-container .content{
    padding-top: 3rem;
    text-align: center;
}

.home2 .box-container .content h2{
    font-size: 5.6rem;
    line-height: 1;
    font-weight:bold;
    font-weight: 450;
    text-transform: none;
    color: #fff;
    padding-top: 2rem;
}

.home2 .box-container .content h3{
    color: #fec2eb;
    font-size: 2.5rem;
    font-weight: lighter;
    font-weight: 400;
    padding-top: 1rem;
}

.home2 .box-container .content .link{
    margin: 1.4rem 0px 2.8rem;
}

.home2 .box-container .content .link .p-first,
.home2 .box-container .content .link .p-second{
    font-size: 1.9rem;
    color: #06c;
    text-transform: none;
}

.home2 .box-container .content .link .p-first:hover,
.home2 .box-container .content .link .p-second:hover{
    text-decoration: underline;
}

.home2 .box-container .content .link .p-second{
    margin-left: 4rem;
}

.home2 .box-container .content .link i{
    color: #2997ff;
    font-size: 1.4rem;
    padding-left: .3rem;
}

.MAC .box-container{
    background: #fbfbfd;
    text-align: center;
    background: url(../images/MAC.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 62.4rem;
    margin-top: 1.5rem;
}

.MAC .box-container .content{
    padding-top: 6rem ;
}

.MAC .box-container .content h2{
    font-size: 5.5rem;
    font-weight: 500;
} 

.MAC .box-container .content h3{
    font-size: 2.8rem;
    font-weight: 400;
}

.MAC .box-container .content .link{
    margin: 1.4rem 0px 2.8rem;
}

.MAC .box-container .content .link .p-first,
.MAC .box-container .content .link .p-second{
    font-size: 1.9rem;
    color: #06c;
    text-transform: none;
}

.MAC .box-container .content .link .p-first:hover,
.MAC .box-container .content .link .p-second:hover{
    text-decoration: underline;
}

.MAC .box-container .content .link .p-second{
    margin-left: 4rem;
}

.MAC .box-container .content .link i{
    color: #2997ff;
    font-size: 1.4rem;
    padding-left: .3rem;
}

.touch .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 1.2rem;
}

.touch .box-container .box{
    background: url(../images/airpods.jpg) no-repeat;
    text-align: center;
    background-size:auto;
    background-size:initial;
    background-position: center;
    min-height: 88vh;
    overflow: visible;
}

.touch .box-container .box{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.touch .box-container .box .content h4{
    font-size: 4rem;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #444;
}

.touch .box-container .box .content h5{
    font-size: 1.8rem;
    line-height: 1.2381;
    font-weight: 400;
    letter-spacing: .016em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: .4rem;
}

.touch .box-container .box .content p{
    margin-top: .6rem;
    color: #86868b;
    text-align: center;
    margin-top: .4rem;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 400;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.touch .box-container .box .link .p-first{
    margin-top: 2rem;
    font-size: 1.6rem;
    color: #06c;
    text-transform: none;
}

.touch .box-container .box .link .p-first:hover{
    text-decoration: underline;
}


.touch .box-container .box-second{
    background: url(../images/watch.jpg) no-repeat;
    text-align: center;
    background-size: cover;
    background-position: center;
    min-height: 88vh;
}

.touch .box-container .box-second span{
    margin-top: 3.5rem;
    font-size: 1.3rem;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #c04c06;
    display: block;
}

.touch .box-container .box-second .image img{
    margin-top: 1.5rem;
}

.touch .box-container .box-second h3{
    margin-top: 1rem;
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 500;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: .4rem;
}

.touch .box-container .box-second .link{
    margin: 1.4rem 0px 2.8rem;
}

.touch .box-container .box-second .link .p-first,
.touch .box-container .box-second .link .p-second{
    font-size: 1.6rem;
    color: #06c;
    text-transform: none;
}

.touch .box-container .box-second .link .p-first:hover,
.touch .box-container .box-second .link .p-second:hover{
    text-decoration: underline;
}

.touch .box-container .box-second .link .p-second{
    margin-left: 4rem;
}

.touch .box-container .box-second .link i{
    color: #2997ff;
    font-size: 1.4rem;
    padding-left: .3rem;
}

/* tablet */

.tablet .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 1rem;
}

.tablet .box-container .box{
    background: url(../images/ipad.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    min-height: 88vh;
}

.tablet .box-container .box .image{
    margin-top: 6rem;
}

.tablet .box-container .box h5{
    font-size: 2rem;
    line-height: 1.2381;
    font-weight: 400;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: 1rem;
}

.tablet .box-container .box .link{
    margin: 1.4rem 0px 2.8rem;
}

.tablet .box-container .box .link .p-first,
.tablet .box-container .box .link .p-second{
    font-size: 1.6rem;
    color: #06c;
    text-transform: none;
}

.tablet .box-container .box .link .p-first:hover,
.tablet .box-container .box .link .p-second:hover{
    text-decoration: underline;
}

.tablet .box-container .box .link .p-second{
    margin-left: 4rem;
}

.tablet .box-container .box .link i{
    color: #2997ff;
    font-size: 1.4rem;
    padding-left: .3rem;
}

.tablet .box-container .box-second{
    background: url(../images/table-tablet.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    min-height: 88vh;
}

.tablet .box-container .box-second .content h4{
    font-size: 4rem;
    line-height: 1.1;
    font-weight: 550;
    letter-spacing: 0em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: 5.3rem;
    text-transform: none;
}

.tablet .box-container .box-second .content h5{
    font-size: 2rem;
    line-height: 1.2381;
    font-weight: 400;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: 1rem;
}

.tablet .box-container .box-second .link{
    margin: 1.4rem 0px 2.8rem;
}

.tablet .box-container .box-second .link .p-first,
.tablet .box-container .box-second .link .p-second{
    font-size: 1.6rem;
    color: #06c;
    text-transform: none;
}

.tablet .box-container .box-second .link .p-first:hover,
.tablet .box-container .box-second .link .p-second:hover{
    text-decoration: underline;
}

.tablet .box-container .box-second .link .p-second{
    margin-left: 4rem;
}

.tablet .box-container .box-second .link i{
    color: #2997ff;
    font-size: 1.4rem;
    padding-left: .3rem;
}

/* store apple */
.store .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 1rem;
}

.store .box-container .box{
    background: url(../images/app-store.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    min-height: 88vh;
}

.store .box-container .box .image{
    margin-top: 6rem;
}

.store .box-container .box h5{
    margin: auto;
    max-width: 36rem;
    font-size: 2rem;
    line-height: 1.2381;
    font-weight: 400;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: 1rem;
    color: #fff;
}

.store .box-container .box .link{
    margin: 1.4rem 0px 2.8rem;
}

.store .box-container .box .link .first{
    font-size: 1.6rem;
    color: #fff;
    text-transform: none;
}

.store .box-container .box .link .first:hover{
    text-decoration: underline;
}

.store .box-container .box .link i{
    color: #fff;
    font-size: 1.4rem;
    padding-left: .3rem;
}

.store .box-container .box-second{
    background: url(../images/music_awards.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    min-height: 88vh;
}

.store .box-container .box-second .image{
    margin-top: 6rem;
}

.store .box-container .box-second h5{
    font-size: 2rem;
    line-height: 1.2381;
    font-weight: 400;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: 1rem;
}

.store .box-container .box-second .link{
    margin: 1.4rem 0px 2.8rem;
}

.store .box-container .box-second .link .p-first,
.store .box-container .box-second .link .p-second{
    font-size: 1.6rem;
    color: #06c;
    text-transform: none;
}

.store .box-container .box-second .link .p-first:hover,
.store .box-container .box-second .link .p-second:hover{
    text-decoration: underline;
}

.store .box-container .box-second .link .p-second{
    margin-left: 4rem;
}

.store .box-container .box-second .link i{
    color: #2997ff;
    font-size: 1.4rem;
    padding-left: .3rem;
}

















/* responsive */
@media (max-width: 991px) {
    html {
      font-size: 55%;
      scroll-padding: 7rem;
    }
    .header {
      padding: 0 2rem;
    }
    /* section {
      padding: 3rem 0;
    } */
    .home .slide {
      padding: 2rem 5%;
    }
    .home .slide .content {
      width: 50rem;
    }
    .home .slide .content h3 {
      font-size: 4rem;
    }
  }
  
  @media (max-width: 865px) {
    #menu-btn {
      display: inline-block;
      margin-right: 2rem;
    }

    .header .logo{
        justify-content: center;
        margin: auto;
        font-size: 2.3rem;
    }

    .header .icons-sd{
        display: none;
    }
   
    .header {
        line-height: 2.3;
        /* padding: 2rem; */
    }

    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: #000;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header .navbar a {
      display: block;
      font-size: 2rem;
    }
    
  }
  
  @media (max-width: 450px) {
    html {
      font-size: 50%;
    }
  }




